.colors
{
    top:70px;
    right:10px;
    position: fixed;
}
.header a
{
    color:#fff;
}
.s_green
{
    background: #78ba00;
}
.s_red
{
    background: #c1004f;
}
.s_brown
{
    background: #632f00;
}
.s_pink
{
    background: #e165bb;
}
.s_violet
{
    background: #7200ad;
}
.s_dark_violet
{
    background: #4617b5;
}
.s_yellow
{
    background: #f4b300;
}
.s_blue
{
   background:#006ac0;
}
.s_blue .header a
{
    color:#fff;
}
.s_dark_blue
{
    background:#00214f;
}
.s_dark_green
{
    background: #004900;
}
.s_dark_orange
{
    background: #e66b1b;
}
.s_orange
{
    background: #ff991d;
}
.left-bar
{
    float: left;
    height: inherit;
    width: 15px;
    /*background: #000;*/
    cursor: w-resize;

    height: -moz-calc(100% - 30px);
    /* WebKit */
    height: -webkit-calc(100% - 30px);
    /* Opera */
    height: -o-calc(100% - 30px);
    /* Standard */
    height: calc(100% - 30px);
}
.right-bar
{
    float:right;
    height: inherit;
    width:15px;
    /*background:#000;*/
    cursor: e-resize;

    height: -moz-calc(100% - 30px);
    /* WebKit */
    height: -webkit-calc(100% - 30px);
    /* Opera */
    height: -o-calc(100% - 30px);
    /* Standard */
    height: calc(100% - 30px);
}
.bottom-bar
{
    height:15px;
    /*background: brown;*/
    cursor: s-resize;
    float:left;
    width: -moz-calc(100% - 15px);
    /* WebKit */
    width: -webkit-calc(100% - 15px);
    /* Opera */
    width: -o-calc(100% - 15px);
    /* Standard */
    width: calc(100% - 15px);
}
.lt-bar
{
    float:left;
    width: 15px;
    /*background:red;*/
    height:15px;
    border: inherit;
    border-top-left-radius: 2px;
    cursor: nw-resize;
}
.rb-bar
{
    /*background:red;*/
    width:15px;
    height:15px;
    float:right;
    cursor: se-resize;

}
.header
{
    height:15px;
    padding:2px 5px;
    /*float: right;*/
    text-align: right;

    opacity: .1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;

    cursor: n-resize;
    margin-left: 15px;
    /*background: #ffff00;*/
}
.header:hover
{
    opacity: 0.8;
}
.header a:hover
{
    text-decoration: none;
}
.stickli
{
    width:200px;
    height:200px;
    /*float:left;*/
    margin-right:5px;
    margin-bottom:5px;

    padding:0;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}
body,html
{
    height:100%;
}
.stickli .sbody
{
    /*margin-left:15px;*/
    /*margin-right:15px;*/
    float:left;
    text-align: left;
    /*padding:5px;*/
    /*background: #ffffff;*/
    height: -moz-calc(100% - 30px);
    /* WebKit */
    height: -webkit-calc(100% - 30px);
    /* Opera */
    height: -o-calc(100% - 30px);
    /* Standard */
    height: calc(100% - 30px);

    width: -moz-calc(100% - 30px);
    /* WebKit */
    width: -webkit-calc(100% - 30px);
    /* Opera */
    width: -o-calc(100% - 30px);
    /* Standard */
    width: calc(100% - 30px);
    overflow: hidden;


}
.stickli .sArea
{
    background-color:inherit;
    /*background: red;*/
    resize: none;
    width:inherit;
    height: -moz-calc(100% - 30px);
    /* WebKit */
    height: -webkit-calc(100% - 30px);
    /* Opera */
    height: -o-calc(100% - 30px);
    /* Standard */
    height: calc(100% - 30px);


    width: -moz-calc(100% - 30px);
    /* WebKit */
    width: -webkit-calc(100% - 30px);
    /* Opera */
    width: -o-calc(100% - 30px);
    /* Standard */
    width: calc(100% - 30px);
    /*height:inherit;*/
    /*border:0;*/
    display:none;
    float:left;
    margin-top:3px;
}
.horizontal
{
    float:left;
    margin-left:2px!important;
    margin-bottom:2px!important;
}
.tipColors
{
    display:none;
}
.add-st-btn:hover
{
    opacity: 1;
}
.add-st-btn
{
    opacity: 0.6;

    margin-left:10px;
    /*float:right;*/

    margin-bottom:10px;
}
.add-st-btn a
{
    width:15px;
    height:15px;
    display: block;
}

#sortable
{
    /*float:left;*/
    /*list-style: none;*/
    margin:0;
    padding:0;
    text-align: center;
}


/*.isotope,*/
/*.isotope .isotope-item {*/
  /* change duration value to whatever you like */
  /*-webkit-transition-duration: 0.8s;*/
     /*-moz-transition-duration: 0.8s;*/
      /*-ms-transition-duration: 0.8s;*/
       /*-o-transition-duration: 0.8s;*/
          /*transition-duration: 0.8s;*/
/*}*/

/*.isotope {*/
  /*-webkit-transition-property: height, width;*/
     /*-moz-transition-property: height, width;*/
      /*-ms-transition-property: height, width;*/
       /*-o-transition-property: height, width;*/
          /*transition-property: height, width;*/
/*}*/

/*.isotope .isotope-item {*/
  /*-webkit-transition-property: -webkit-transform, opacity;*/
     /*-moz-transition-property:    -moz-transform, opacity;*/
      /*-ms-transition-property:     -ms-transform, opacity;*/
       /*-o-transition-property:      -o-transform, opacity;*/
          /*transition-property:         transform, opacity;*/
/*}*/

/**** disabling Isotope CSS3 transitions ****/

/*.isotope.no-transition,*/
/*.isotope.no-transition .isotope-item,*/
/*.isotope .isotope-item.no-transition {*/
  /*-webkit-transition-duration: 0s;*/
     /*-moz-transition-duration: 0s;*/
      /*-ms-transition-duration: 0s;*/
       /*-o-transition-duration: 0s;*/
          /*transition-duration: 0s;*/
/*}*/


.popover-content
{
    min-height: 32px;
}

.remove_btn
{
    color:#000;
}