{% extends "root.html" %}
{% block title %}Home{% endblock %}
{% block nav-home %}active{% endblock %}
{% block body %}

{#<div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">#}
{#        <ol class="carousel-indicators">#}
{#          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
{#          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>#}
{#          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>#}
{#          <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>#}
{#        </ol>#}
{#        <div class="carousel-inner">#}
{#          <div class="item active">#}
{##}
{#              <div class="glyphicon glyphicon-time slide-icon"></div>#}
{#              <div class="carousel-caption">#}
{#                <h3>First slide</h3>#}
{#                <p>coolest description</p>#}
{#              </div>#}
{#          </div>#}
{#          <div class="item">#}
{#          <div class="glyphicon glyphicon-calendar slide-icon" style="width:184px;"></div>#}
{#             <div class="carousel-caption">#}
{#                <h3>Second slide</h3>#}
{#                <p>coolest description</p>#}
{#              </div>#}
{#          </div>#}
{##}
{##}
{#          <div class="item">#}
{#                <div class="glyphicon glyphicon-cloud-upload slide-icon" style="padding-top:27px;"></div>#}
{#              <div class="carousel-caption">#}
{#                <h3>Third slide</h3>#}
{#                <p>coolest description</p>#}
{#              </div>#}
{#          </div>#}
{##}
{#            <div class="item">#}
{#                <div class="glyphicon glyphicon-user slide-icon"></div>#}
{#              <div class="carousel-caption">#}
{#                <h3>4 slide</h3>#}
{#                <p>coolest description</p>#}
{#              </div>#}
{#          </div>#}
{#        </div>#}
{#        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">#}
{#          <span class="icon-prev"></span>#}
{#        </a>#}
{#        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">#}
{#          <span class="icon-next"></span>#}
{#        </a>#}
{#      </div>#}
{##}
{##}
{#    <div class="row">#}
{#        <div class="col-lg-4">#}
{#          <h2>Heading</h2>#}
{#          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>#}
{#          <p><a class="btn btn-primary" href="#">View details »</a></p>#}
{#        </div>#}
{#        <div class="col-lg-4">#}
{#          <h2>Heading</h2>#}
{#          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>#}
{#          <p><a class="btn btn-primary" href="#">View details »</a></p>#}
{#       </div>#}
{#        <div class="col-lg-4">#}
{#          <h2>Heading</h2>#}
{#          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>#}
{#          <p><a class="btn btn-primary" href="#">View details »</a></p>#}
{#        </div>#}
{#      </div>#}

    <div class="jumbotron">
        <h1>WorkPlanner</h1>
        <p>Great tool to keep your notes and ideas in beautiful stickers.</p>
        <br />
        <p>
          <a class="btn btn-lg btn-primary" href="{% url 'pyplanner.views.login_form' %}" role="button">Set started »</a>
        </p>
      </div>

{% endblock %}
